<section>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 ">
		<my-map id="map_canvas" events="vm.events" editable="true"></my-map>
	</div>
	<div class="panel panel-default col-lg-4 col-md-4 col-sm-4 col-xs-12 no-padding pull-right">
		<!-- Panel Title -->
		<div class="panel-heading">
			<h2 class="panel-title text-center">Edit event<span class="glyphicon glyphicon-map-marker"></span></h2>
		</div>
		<!-- Panel Body -->
		<div class="panel-body">
			<!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
			<form name="editForm" novalidate ng-show="vm.loaded">

				<!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
				<div class="form-group">
					<label for="username">Name <span class="badge">All fields required</span></label>
					<input type="text" class="form-control" id="username" placeholder="Enter event name" ng-model="vm.formData.name" required>
				</div>
				<div class="dropdown form-group">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-left:0;">
						<label>Start Date</label>
						<a class="dropdown-toggle" id="dropdownStart" role="button " data-toggle="dropdown" data-target="#">
							<div class="input-group date">
								<input type="text" class="form-control" data-ng-model="vm.formData.startTime">
								<span class="input-group-addon "><i class="glyphicon glyphicon-calendar"></i></span>
							</div>
						</a>
						<ul class="dropdown-menu " role="menu" aria-labelledby="dLabel ">
							<datetimepicker data-ng-model="vm.formData.startTime" data-datetimepicker-config="{ dropdownSelector:
						'#dropdownStart', renderOn: 'end-date-changed' }" data-on-set-time="vm.startDateOnSetTime()" data-before-render="vm.startDateBeforeRender($dates)"></datetimepicker>
						</ul>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-right:0;">
						<label>Start Date</label>
						<a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target="#">
							<div class="input-group date">
								<input type="text" class="form-control" data-ng-model="vm.formData.startTime">
								<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
							</div>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<datetimepicker data-ng-model="vm.formData.startTime" data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed' }"
								data-on-set-time="vm.startDateOnSetTime()" data-before-render="vm.startDateBeforeRender($dates)"></datetimepicker>
						</ul>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-left:0;">
						<label for="latitude ">Latitude</label>
						<input type="text " class="form-control " id="latitude " ng-model="vm.formData.latitude " readonly>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-right:0;">
						<label for="longitude ">Longitude</label>
						<input type="text " class="form-control " id="longitude " ng-model="vm.formData.longitude " readonly>
					</div>
				</div>
				<div class="form-group ">
					<label for="address ">Address</label>
					<input type="text " class="form-control " id="address " ng-model="vm.formData.address " required>
				</div>
				<div class="form-group ">
					<label for="description ">Description</label>
					<textarea type="text " class="form-control " id="language " placeholder="Enter description " ng-model="vm.formData.description ">
							</textarea>
				</div>
				<!--<div class="form-group text-center ">
					<img ng-src="{{vm.imageURL}} " alt=" " class="img-thumbnail " style="max-height:200px; max-width: 200px ">
				</div>
				<div class="form-group ">
					<label for="eventImage ">Event Image</label>
					<span class="btn btn-default btn-file te ">Choose an image<input type="file " nv-file-select uploader="vm.uploader "></span>
				</div>-->
				<div class="form-group ">
					<image-uploader url="vm.url" upload="vm.upload" event="vm.eventId"></image-uploader>
				</div>
				<button id="submit " type="submit " class="btn btn-danger btn-block " ng-click="vm.updateEvent(); counter=0
						" ng-disabled="editForm.$invalid || !vm.fileAdded ">Submit</button>
				<!--<button id="reset " type="reset " class="btn btn-danger btn-block " ng-click="vm.resetForm(); counter=0 ">Reset</button>-->
				<div ng-show="vm.success ">{{vm.success}}</div>
				<div ng-show="vm.error ">{{vm.error}}</div>
			</form>
			<div><span>{{$root.alert}}</span></div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
		<h1 class="title-lv1 ">Event images :</h1>
		<slider images="vm.eventImages"></slider>
	</div>
	</div>
</section>