<section>
    <div class="page-header">
        <h1>Đối tượng sản xuất</h1>
    </div>
    <div style="margin: 20px">
        <button class="btn btn-primary glyphicon glyphicon-plus" data-toggle="tooltip" title="Thêm đối tượng mới" class="btn btn-primary"
            data-ui-sref="index.device-node-add">
        </button>
    </div>
    <!--<md-input-container>
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Tìm kiếm" ng-change="vm.figureOutItemsToDisplay()"
        />
    </md-input-container>-->
    <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <md-card data-ng-repeat="deviceNode in vm.deviceNode" layout-align="center center">
            <a data-ui-sref="index.device-node-details({ deviceNodeId: deviceNode._id })">
                <h4 style="color:green" class="text-center">{{deviceNode.name}}</h4>
                <h4 style="color:green" class="text-center">{{deviceNode.type===0?'Dùng chung':'Dùng riêng'}}</h4>
                <small class="list-group-item-text">
      <span>Tạo lúc: {{deviceNode.created | date:'short'}}</span>
  </small>
            </a>
        </md-card>
    </div>
</section>