<div>
	<button class="btn btn-primary" ngf-select="uploadFiles($files, $invalidFiles)" multiple accept="image/*" ngf-max-height="1000"
		ngf-max-size="2MB">
      Select Files</button>
	<br><br> Files:
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$errorParam}}
			<img ng-src="{{f.$ngfBlobUrl}}" class="img-responsive" style="height:200px; width:200px"></img>
			<span class="progress" ng-show="f.progress >= 0">
        <div style="width:{{f.progress}}%"  
            ng-bind="f.progress + '%'"></div>
      </span>
		</li>
		<li "list-group-item" ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
		</li>
	</ul>
	{{errorMsg}}
</div>