<section>
    <div class="page-header">
        <h1>Công thức sản xuất</h1>
    </div>
    <div style="margin: 20px">
        <button ng-show="$root.userInfo" class="btn btn-primary glyphicon glyphicon-plus" data-toggle="tooltip" title="Thêm đối tượng mới" class="btn btn-primary"
            data-ui-sref="index.recipe-add">
        </button>
    </div>
    <!--<md-input-container>
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Tìm kiếm" ng-change="vm.figureOutItemsToDisplay()"
        />
    </md-input-container>-->
    <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <md-card data-ng-repeat="recipe in vm.recipe" layout-align="center center">
            <a data-ui-sref="index.recipe-details({ recipeId: recipe._id })">
                <h4 style="color:green" class="text-center">{{recipe.name}}</h4>
                <small class="list-group-item-text">
      <span>Tạo lúc: {{recipe.created | date:'short'}}</span>
  </small>
                <div class="img_container"><img alt="" class="img-responsive" ng-src="{{recipe.imgUrlFull}}" /></div>
            </a>
        </md-card>
    </div>
</section>