<section>
    <div class="page-header">
        <h1>Đối tượng sản xuất</h1>
    </div>
    <div style="margin: 20px">
        <button class="btn btn-primary glyphicon glyphicon-plus" data-toggle="tooltip" title="Thêm đối tượng mới" class="btn btn-primary" data-ui-sref="index.production-item-add">
        </button>
    </div>
    <md-input-container>
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Tìm kiếm" ng-change="vm.figureOutItemsToDisplay()"
        />
    </md-input-container>
    <div class="list-group">
        <a data-ng-repeat="vegetablecat in vm.pagedItems" data-ui-sref="vegetablecats.view({ vegetablecatId: vegetablecat._id })"
            class="list-group-item">
            <small class="list-group-item-text">
    Tạo lúc
    <span data-ng-bind="vegetablecat.created | date:'short'"></span>
  </small>
            <h4 class="list-group-item-heading" data-ng-bind="vegetablecat.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-if="vm.vegetablecats.$resolved && !vm.vegetablecats.length">
        Không có dữ liệu, <a data-ui-sref="vegetablecats.create">hãy tạo mới</a>?
    </div>
</section>