<section>
	{{vm.alert}}
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<button ui-sref="index.add" class="btn btn-primary glyphicon glyphicon-plus" data-toggle="tooltip" title="Add new event"></button>
		<ul class="nav nav-tabs pull-right">
			<li ng-class="{ active:vm.type === 0}"> <a ng-click="vm.getEventsLocation(0)">All events</a>
			</li>
			<li ng-class="{ active:vm.type === 1}"><a ng-click="vm.getEventsLocation(1)">My events</a>
			</li>
			<li ng-class="{ active:vm.type === 2}"><a ng-click="vm.getEventsLocation(2)">My favorite events</a>
			</li>
			<!--<li ng-class="{ active: vm.isActive('/events/add')}"><a ui-sref="index.add">Add new event</a></li>-->
		</ul>
	</div>
	<button class="btn btn-primary" ng-click="vm.testSend()">Test</button>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<my-map id="map_canvas" events="vm.events" my-id="vm.myId"></my-map>
	</div>
</section>