<div>
	<div class="col-md-12" ng-show="vm.isMyEvent">
		<button class="btn btn-primary" ng-click="vm.gotoEdit();">Edit</button>
		<button class="btn btn-primary" ng-click="vm.deleteEvent();">Delete</button>
		<hr style="margin-top:5px">
	</div>
	<div class="col-md-12" ng-show="!vm.isMyEvent">
		<button class="btn btn-primary" ng-click="vm.likeEvents();">{{vm.isLiked?'Unlike':'Like'}}</button>
		<hr style="margin-top:5px">
	</div>


	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-left:0; padding-right:0">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 "><img alt="" class="img-responsive text-center" ng-src="{{vm.event.imgUrl}}" style="height: 200px;width:200px; border-radius: 50%;
    border: 5px solid #337ab7;" />
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<!--<h1 class="title-lv1">Event information</h1>
				<hr>-->
				<h2 style="color: #337ab7">{{vm.event.name}}</h2>
				<label>Start Time: </label>
				<strong style="color: red">{{vm.event.startTime | date : 'medium' : '+070'}}</strong> <br>
				<label>End Time: </label>
				<strong style="color: red">{{vm.event.endTime | date : 'medium' : '+070'}}</strong> <br>
				<label>Address: </label>
				<strong style="color: #337ab7">{{vm.event.address}}</strong> <br>
				<label>Desctiption: </label>
				<span>{{vm.event.desctiption}}</span><br>
				<label>Hosted by: </label>
				<a href="#/users/{{vm.event.userHost._id}}"><span style="color: #337ab7">{{vm.event.userHost.firstName + vm.event.userHost.lastName}}</span>
				<img alt="" ng-src="{{vm.event.userHost.profileImageURL}}" style="height: 36px;width:36px; border-radius: 50%;" />
				</a>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
			<slider images="vm.eventImages"></slider>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="">
		<my-map id="map_canvas" events="vm.events" current-location="vm.initLocation" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding"></my-map>
	</div>
	<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" style="position: fixed;  bottom: 0; right:0 !important;">
		<chat room="vm.room"></chat>
	</div>
</div>