<style>
	#floating-panel {
		position: absolute;
		top: 10px;
		left: 25%;
		z-index: 5;
		background-color: #fff;
		padding: 5px;
		border: 1px solid #999;
		text-align: center;
		font-family: 'Roboto', 'sans-serif';
		line-height: 30px;
		padding-left: 10px;
	}
</style>
<my-map id="map_canvas" events="vm.events" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></my-map>
<div class=" panel panel-default col-lg-5 col-md-5 col-sm-5 col-xs-12 ">
	<!-- Panel Title -->
	<div class="panel-heading ">
		<h2 class="panel-title text-center ">Find Events! (Map Query) <span class="glyphicon glyphicon-search "></span></h2>
	</div>
	<!-- Panel Body -->
	<div class="panel-body ">
		<!-- Creates Form -->
		<!--<form name="queryForm ">

			<!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
		<div class="form-group ">
			<label for="latitude ">Your Latitude</label>
			<input type="text " class="form-control " id="latitude " placeholder=" " ng-model="vm.formData.latitude " readonly>
		</div>
		<div class="form-group ">
			<label for="longitude ">Your Longitude</label>
			<input type="text " class="form-control " id="longitude " placeholder=" " ng-model="vm.formData.longitude " readonly>
		</div>
		<!--<div class="form-group ">
				<label for="distance ">Max. Distance (miles)</label>
				<input type="text " class="form-control " id="distance " placeholder=" " ng-model="vm.formData.distance ">
			</div>-->
		<button type="submit " class="btn btn-danger btn-block " ng-click="vm.getEventsLocation()">Search</button>
		</form>-->
	</div>
</div>