<section>
  <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-12">
    <img class="img-responsive" ng-src="app/img/logo.png" width="100%" align="middle" />
  </div>
  <article class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"><label>Thống kê sản phẩm</label>
      <md-card></md-card>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"><label>Thống kê vườn rau</label>
      <md-card></md-card>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"><label>Thống kê mùa vụ</label>
      <md-card></md-card>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"><label>Thống kê người dùng</label>
      <md-card></md-card>
    </div>
  </article>
</section>