<section class="row">
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
		<form name="userForm">
			<fieldset>
				<div class="form-group">
					<label for="firstName">Mật khẩu cũ</label>
					<input type="password" id="oldPassword" name="oldPassword" class="form-control" ng-model="vm.userInfo.oldPassword" placeholder="Mật khẩu cũ"
						required>
				</div>
				<div class="form-group" show-errors>
					<label for="lastName">Mật khẩu mới</label>
					<input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="vm.userInfo.newPassword" placeholder="Mật khẩu mới"
						required>
				</div>
				<div class="text-center form-group">
					<button data-ng-disabled="!userForm.$valid" ng-click="vm.changePassword();" class="btn btn-primary">Gửi</button>
				</div>
			</fieldset>
		</form>
	</div>
</section>