<section class="row">
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
		<form name="userForm">
			<fieldset>
				<div class="form-group">
					<label for="firstName">Tên</label>
					<input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.userInfo.firstName" placeholder="Tên"
						required>
				</div>
				<div class="form-group" show-errors>
					<label for="lastName">Họ</label>
					<input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.userInfo.lastName" placeholder="Họ"
						required>
				</div>
				<div class="form-group" show-errors>
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" ng-model="vm.userInfo.email" placeholder="Email" lowercase
						required>
				</div>
				<div class="text-center form-group">
					<button data-ng-disabled="!userForm.$valid" type="submit" ng-click="vm.updateUserInfo();" class="btn btn-primary">Save</button>
				</div>
			</fieldset>
		</form>
	</div>
</section>