<section>
    <h1>Tạo mùa vụ mới</h1>
    <form name="seasonForm" class="form-horizontal" ng-submit="vm.save(vm.form.seasonForm.$valid)" novalidate>
        <fieldset class="col-md-offset-3 col-md-6 col-md-offset-3">
            <!--<div class="form-group" ng-if="!vm.gardenId">
                <label>Vườn rau:</label>
                <md-autocomplete required md-input-name="garden" md-no-cache="vm.noCache" md-selected-item="vm.season.vegetableName" md-search-text="vm.searchText"
                    md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.name" md-min-length="0" md-menu-class="autocomplete-custom-template">
                    <md-item-template style="margin-top: 10px">
                        <span class="item-title">{{item.name}}
    </span>
                        <span class="item-img"><img alt="" class="img-responsive text-center" ng-src="{{item.imgUrl}}" />
    </span>
                    </md-item-template>
                    <md-not-found>
                        Không tìm thấy vườn "{{vm.searchText}}".
                    </md-not-found>
                </md-autocomplete>
                <span ng-if="!vm.season"><em style="color:red">Hãy chọn vườn rau.</em></span>
            </div>-->
            <div class="form-group" ng-if="vm.garden">
                <label class="control-label" for="vegetable">Đối tượng sản xuất</label>
                <md-autocomplete ng-disabled="vm.isDisabled" md-input-name="vegetable" md-no-cache="vm.noCache" md-selected-item="vm.selectedItem"
                    md-search-text-change="vm.searchTextChange(vm.searchText)" md-search-text="vm.searchText" md-selected-item-change="vm.selectedItemChange(item)"
                    md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.name" md-min-length="0" placeholder="Chọn đối tượng sản xuất"
                    md-menu-class="autocomplete-custom-template">
                    <md-item-template>
                        <span class="item-title">
            <img width="46px" height="46px" ng-src="{{item.imgUrlFull}}"></img>
            <span> {{item.name}} </span>
                        </span>
                        <span class="item-metadata">
            <span class="item-metastat">
              <strong>{{item.description}}</strong>
            </span> </span>
                    </md-item-template>
                </md-autocomplete>
            </div>
            <div class="form-group" show-errors>
                <label class="control-label" for="name">Tên mùa vụ</label>
                <input name="name" type="text" ng-model="vm.season.name" id="name" class="form-control" placeholder="Tên mùa vụ" required>
                <div ng-messages="vm.form.gardenForm.name.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Tên mùa vụ là bắt buộc.</p>
                </div>
            </div>
            <div class="form-group" show-errors>
                <label class="control-label" for="seedQuantity">Số lượng giống:</label>
                <input name="seedQuantity" type="number" ng-model="vm.season.seedQuantity" id="seedQuantity" class="form-control" ng-required
                    min="0" max="100000">
                <div ng-messages="vm.form.gardenForm.name.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Số lượng giống là bắt buộc.</p>
                    <p class="help-block error-text" ng-message="min">Không được nhập số âm.</p>
                    <p class="help-block error-text" ng-message="max">Chỉ được nhập tối đa là 100000.</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="statdate">Ngày bắt đầu</label>
                <md-datepicker name="startdate" ng-model="vm.season.startDate" md-placeholder="Chọn ngày bắt đầu" md-min-date="vm.dateNow"
                    md-max-date="vm.season.endDate" md-open-on-focus required>
                </md-datepicker>
                <!-- <span ng-show="vm.season._id">{{vm.season.startDate| date:'short'}}</span> -->
            </div>
            <div class="form-group">
                <label class="control-label" for="statdate">Ngày kết thúc (dự kiến)</label>
                <md-datepicker name="enddate" ng-model="vm.season.endDate" md-placeholder="Chọn ngày kết thúc" md-min-date="vm.season.startDate"
                    md-open-on-focus required>
                </md-datepicker>
                <!-- <span ng-show="vm.season._id">{{vm.season.endDate| date:'short'}}</span> -->
            </div>

            <div class="form-group">
                <button ng-click="vm.createSeason()" type="submit" class="btn btn-primary" ng-disabled="seasonForm.name.$invalid||seasonForm.vegetable.$invalid||seasonForm.startdate.$invalid||seasonForm.enddate.$invalid || seasonForm.seedQuantity.$invalid||vseasonForm.enddate.$invalid||!vm.selectedItem">
  Tạo
</button>
            </div>
            <div ng-show="vm.error" class="text-danger">
                <strong ng-bind="vm.error"></strong>
            </div>
        </fieldset>
    </form>
</section>