<section>
    <div class="action-bar">
        <!--<a class="fa-icon fa fa-list" href="#/gardens/{{vm.gardenId}}/seasons" data-toggle="tooltip" title="Danh sách mùa vụ"></a>
        <a ng-if="vm.garden.isOwner" style="margin-left:5px" class="fa-icon fa fa-plus-square" ui-sref="index.season.add" data-toggle="tooltip"
            title="Thêm mùa vụ"></a>-->
        <label style="margin-left:50px;font-size:2em" class="text-right">{{'Quản lý mùa vụ vườn rau: ' + $root.garden.name}}</label>
</div>
<h1>Tạo mùa vụ mới</h1>
<form name="seasonForm" class="form-horizontal" novalidate>
    <fieldset class="col-md-offset-3 col-md-6 col-md-offset-3">
        <div class="form-group" show-errors>
            <label class="control-label" for="name">Tên mùa vụ: <span class="require">(*)</span></label>
            <input name="name" type="text" ng-model="vm.season.name" id="name" class="form-control" placeholder="Tên mùa vụ" required>
        </div>
        <div class="form-group">
            <label class="control-label" for="name">Đối tượng sản xuất: <span class="require">(*)</span></label>
            <select name="productionItem" type="text" ng-model="vm.season.productionItem" ng-options="pi._id as pi.name for pi in vm.productionItems track by pi._id"
                id="productionItem" class="form-control" placeholder="Chọn đối tượng sản xuất" required>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="variety">Giống: <span class="require">(*)</span></label>
            <select name="variety" type="text" ng-model="vm.season.variety" ng-options="va._id as va.name for va in vm.varieties track by va._id"
                id="variety" class="form-control" placeholder="Chọn giống" required>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="recipe">Công thức sản xuất: <span class="require">(*)</span></label>
            <select name="recipe" type="text" ng-model="vm.season.recipe" ng-options="re._id as re.name for re in vm.recipes track by re._id" id="recipe"
                class="form-control" placeholder="Chọn công thức sản xuất">
            </select>
        </div>
        <div class="form-group" show-errors>
            <label class="control-label" for="seedQuantity">Số lượng giống:  <span class="require">(*)</span></label>
            <input name="seedQuantity" type="number" ng-model="vm.season.seedQuantity" id="seedQuantity" class="form-control" ng-required
                min="0" max="100000">
        </div>
        <div class="form-group">
            <label class="control-label" for="statdate">Ngày bắt đầu </label>
            <md-datepicker name="startdate" ng-model="vm.season.startDate" md-placeholder="Chọn ngày bắt đầu" md-min-date="vm.dateNow"
                md-max-date="vm.season.endDate" md-open-on-focus required>
            </md-datepicker>
            <!-- <span ng-show="vm.season._id">{{vm.season.startDate| date:'short'}}</span> -->
        </div>
        <div class="form-group">
            <label class="control-label" for="statdate">Ngày kết thúc (dự kiến)</label>
            <md-datepicker name="enddate" ng-model="vm.season.endDate" md-placeholder="Chọn ngày kết thúc" md-min-date="vm.season.startDate"
                md-open-on-focus required>
            </md-datepicker>
            <!-- <span ng-show="vm.season._id">{{vm.season.endDate| date:'short'}}</span> -->
        </div>
        <div class="form-group">
            <button ng-click="vm.createSeason();" class="btn btn-primary">Tạo</button>
            <button ng-click="vm.cancel()" class="btn btn-default">Hủy</button>
        </div>
    </fieldset>
</form>
</section>