<section>
  <div class="action-bar">
    <a ng-if="vm.garden.isOwner" style="margin-left:5px" class="fa-icon fa fa-plus-square" ui-sref="index.season.add"
      data-toggle="tooltip" title="Thêm mùa vụ"></a>
    <label style="margin-left:50px;font-size:2em" class="text-right">{{'Quản lý mùa vụ vườn rau: ' + $root.garden.name}}</label>
  </div>
  <div class="page-header">
    <h1>Danh sách mùa vụ</h1>
    <!-- <div class="col-md-4" style="margin-top: 20px">
      <a data-toggle="tooltip" title="Tạo mùa vụ mới" class="btn btn-primary"
         data-ui-sref="seasons.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </div> -->
    <div class="col-md-4">
      <!--<md-input-container>
        <input class="form-control" type="text" ng-model="vm.search" placeholder="Tìm kiếm" ng-change="vm.figureOutItemsToDisplay()"
        />
      </md-input-container>-->
    </div>
  </div>
  <md-table-container>
    <table md-table md-progress="promise">
      <thead md-head md-order="'name'" md-on-reorder="vm.seasons">
        <tr md-row>
          <th md-column md-order-by="nameToLower"><strong>Tên mùa vụ</strong></th>
          <th md-column md-numeric md-order-by="season.status"><strong>Trạng thái</strong></th>
          <th md-column md-numeric><strong>Ngày tạo</strong></th>
          <th md-column md-numeric><strong>Đối tượng sản xuất</strong></th>
          <th md-column md-numeric><strong>Tác vụ</strong></th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-select="seasons" md-select-id="name" md-auto-select ng-repeat="season in vm.seasons">
          <td md-cell><strong>{{season.name}}</strong></td>
          <td md-cell> <strong class="alert alert-danger" ng-show="season.status===2">Đã kết thúc</strong>
            <strong class="alert alert-success" ng-show="season.status===1">Đang diễn ra</strong>
            <strong class="alert alert-warning" ng-show="season.status===0">Chưa bắt đầu</strong></td>
          <td md-cell><strong>{{season.created | date:'short'}}</strong></td>
          <td md-cell>
            <strong style="padding-right:20px">{{season.productionItem.name}}</strong>
            <img data-toggle="tooltip" title="{{season.productionItem.name}}" alt="{{season.productionItem.name}}" ng-src="{{season.productionItemUrl}}"
              class="img-responsive center" width="128px" height="46px" style="margin-right: 0 !important" />
          </td>
          <td md-cell>
            <div>
              <div class=" col-md-12">
                <a data-toggle="tooltip" title="Chi tiết mùa vụ" ui-sref="index.season.details({seasonId:season._id})"><i class="fa-icon fa fa-eye"></i></a>                &nbsp;&nbsp;
                <a data-ng-if="vm.garden.isOwner" data-toggle="tooltip" title="Chỉnh sửa mùa vụ" data-ui-sref="index.season.edit({ seasonId: season._id })">
                  <i class="fa-icon fa fa-edit"></i></a>
                &nbsp;&nbsp;
                <a data-ng-if="vm.garden.isOwner" data-toggle="tooltip" title="Xóa mùa vụ" data-ng-click="vm.remove(season)"><i class="fa-icon fa fa-trash"></i></a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  </div>
  <!--<pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage"
      ng-change="vm.pageChanged()"></pagination>-->
  <div class="alert alert-warning text-center" data-ng-if="!vm.seasons.length">
    Không có dữ liệu!</a>
  </div>
  </div>
  <!--</form>-->
</section>