<section>
    <div class="page-header col-md-12">
        <div class=" col-md-12" data-ng-show="vm.season.isAdmin">
            <a class="btn btn-primary" data-ui-sref="seasons.edit({ seasonId: vm.season._id })">
                <i class="glyphicon glyphicon-edit"></i></a>
            <a class="btn btn-primary" data-ng-click="vm.remove()"><i class="glyphicon glyphicon-trash"></i></a>
        </div>
        <div class="col-md-12">
            <h2> Vườn rau: {{vm.season.garden.name}}</h2>
            <h2> Mùa vụ : {{vm.season.name}}</h2>
        </div>
    </div>
    </div>
    <div class="col-md-12 ">
        <h2><span style="color:#337ab7">Đối tượng sản xuất:</span> {{vm.season.productionItem.name}}</h2>
        <div class="img_container"><img alt="" class="img-responsive text-center" ng-src="{{vm.season.vegetable.imgUrl}}" /></div>
        <h3><span style="color:#337ab7">Ngày bắt đầu: </span>{{vm.season.startDate| date:'short'}} <br>
            <span style="color:#337ab7">Ngày kết thúc:<em ng-hide="vm.season.status===2">(Dự kiến)</em></span>{{vm.season.endDate|
            date:'short'}}</h3><br>
        <div><span class="alert alert-danger" ng-show="vm.season.status===2">Đã kết thúc</span>
            <span class="alert alert-success" ng-show="vm.season.status===1">Đang diễn ra</span>
            <span class="alert alert-warning" ng-show="vm.season.status===0">Chưa bắt đầu</span></div>
        <br>
        <!-- <small>
    <em class="text-muted">
     Đã tạo lúc
      <span data-ng-bind="vm.season.created | date:'short'"></span>
    </em>
  </small> -->
        <md-divider></md-divider>
        <h2>Lịch sử tưới nước :</h2>
        <md-table-container ng-if="vm.season.watering">
            <table md-table style="color:#5d9842;">
                <thead md-head md-order="" md-on-reorder="">
                    <tr md-row>
                        <th md-column style="color:#5d9842;"><span>Thời gian</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="water in vm.season.watering" ng-show="vm.season.wateringHistory">
                        <td md-cell style="color:#5d9842;">{{water}}</td>
                        <!--<td md-cell style="color:#5d9842;">{{item.quantity}}</td>-->
                    </tr>
                </tbody>
            </table>
            <!--<pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage"
                ng-change="vm.pageChanged()"></pagination>-->
        </md-table-container>
        <span ng-if="!vm.season.wateringList" class="alert alert-warning text-center">Không có dữ liệu!</span>
    </div>
</section>