<section>
    <div class="action-bar">
        <a class="fa-icon fa fa-list" href="#/gardens/{{vm.gardenId}}/seasons" data-toggle="tooltip" title="Danh sách mùa vụ"></a>
        &nbsp;&nbsp;
        <a ng-if="vm.garden.isOwner" style="margin-left:5px" class="fa-icon fa fa-plus-square" ui-sref="index.season.add" data-toggle="tooltip"
            title="Thêm mùa vụ"></a>
        &nbsp;&nbsp;
        <a ng-if="vm.season && vm.garden.isOwner" style="margin-left:5px" ng-if="$root.seasonId" class="fa-icon fa fa-edit" ui-sref="index.season.edit({ seasonId: $root.seasonId})"
            data-toggle="tooltip" title="Chỉnh sửa mùa vụ"></a>
        &nbsp;&nbsp;
        <a ng-if="vm.season && vm.garden.isOwner" style="margin-left:5px" data-ng-click="vm.remove()"><i class="fa-icon fa fa-trash"></i></a>
        <!--<a ng-if="vm.season && $root.garden.isOwner" style="margin-left:5px" ng-if="$root.seasonId" class="fa-icon fa fa-tasks" ui-sref="index.season.task({ seasonId: vm.seasonId})"
            data-toggle="tooltip" title="Danh sách tác vụ"></a>-->
        &nbsp;&nbsp;
        <a ng-if="vm.season && $root.garden.isOwner" style="margin-left:5px" ng-if="$root.seasonId" class="fa-icon fa fa-tasks" ui-sref="index.season.task({ seasonId: vm.seasonId})"
            data-toggle="tooltip" title="Chăm sóc vườn rau"></a>
        &nbsp;&nbsp;
        <a class="fa-icon fa fa-plus" title="Thêm tác vụ" data-toggle="modal" data-target="#modal-add-task"></a>
        <label style="margin-left:50px;font-size:2em" class="text-right">{{'Quản lý mùa vụ vườn rau: ' + $root.garden.name}}</label>

    </div>
    <div class="page-header col-md-12">
        <div class="col-md-12">
            <h2> Vườn rau: {{vm.season.garden.name}}</h2>
            <h2> Mùa vụ : {{vm.season.name}}</h2>
        </div>
    </div>
    </div>
    <div class="col-md-12 ">
        <h2><span style="color:#337ab7">Đối tượng sản xuất:</span> {{vm.season.productionItem.name}}</h2>
        <div class="img_container"><img alt="" class="img-responsive text-center" ng-src="{{vm.season.vegetable.imgUrl}}" /></div>
        <!--<h3><span style="color:#337ab7">Ngày bắt đầu: </span>{{vm.season.startDate| date:'short'}} <br>
            <span style="color:#337ab7">Ngày kết thúc:<em ng-hide="vm.season.status===2">(Dự kiến)</em></span>{{vm.season.endDate|
            date:'short'}}
        </h3><br>-->
        <div><span class="alert-danger" ng-show="vm.season.status===2">Đã kết thúc</span>
            <span class="alert-success" ng-show="vm.season.status===1">Đang diễn ra</span>
            <span class="alert-warning" ng-show="vm.season.status===0">Chưa bắt đầu</span></div>
        <br>
        <!-- <small>
    <em class="text-muted">
     Đã tạo lúc
      <span data-ng-bind="vm.season.created | date:'short'"></span>
    </em>
  </small> -->
        <md-divider></md-divider>
        Tác vụ chăm sóc vườn:
        <div>
            <!--<div pro-table="vm.taskOption"></div>-->
        </div>
        <md-divider></md-divider>
        <div id="container" style="height: 400px; min-width: 310px"></div>
        <h2>Biểu đồ :</h2>
        <div id="container2" style="height: 400px; min-width: 310px"></div>
        <!--<span ng-if="!vm.season.wateringList" class="alert-warning text-center">Không có dữ liệu!</span>-->
    </div>
    <div id="modal-add-task" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="close-button" type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
                    <h3>Thêm tác vụ</h3>
                </div>
                <div class="modal-body">
                    <form class="form-validate" name="addTask">
                        <div class="form-group">
                            <label class="control-label" for="tag-type">Loại công việc: <span class="require">(*)</span></label>
                            <select id="tag-type" required class="form-control" ng-model="vm.task.type" ng-options="type.id as type.name for type in vm.taskCats track by type.id"></select>
                        </div>
                        <div class="form-group"><label for="inputContent" class="control-label">Chọn ngày thực hiện<span class='require'>*</span></label>
                            <div class="no-padding input-group date" id="taskDate" style="padding-left:15px;padding-right:15px">
                                <input name="taskDate" required placeholder="DD/MM/YYYY hh:mm" type="text" ng-model="startTime" class="form-control required"
                                />
                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success" ng-click="vm.addTask(s)">Thêm</button>
                        </div>
                    </form>
                    <!-- <span ng-show="vm.season._id">{{vm.season.startDate| date:'short'}}</span> -->
                </div>
                <div class="modal-footer">
                    <!--<button type="button" data-dismiss="modal" class="btn btn-success">Xác nhận</button>-->
                </div>
            </div>
        </div>
    </div>
</section>