<section>
	<div class="container col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<br>
		<br>
		<h2 class="text-center">ĐĂNG NHẬP</h2>
		<form novalidate>
			<div class="form-group ">
				<label for="name ">Tên đăng nhập:</label>
				<input type="text" ng-model="vm.user.username " class="form-control " id="username " placeholder="Nhập tên đăng nhập">
			</div>
			<div class="form-group ">
				<label for="password ">Mật khẩu:</label>
				<input type="password" ng-model="vm.user.password " class="form-control " id="password " placeholder="Nhập mật khẩu">
			</div>
			<div class="text-center">
				<button type="submit" class="btn btn-primary" ng-click="vm.signin();" data-ng-disabled="vm.user.username === '' || vm.user.password === ''">Đăng nhập</button>
				<a ui-sref="index.signup">Đăng ký</a>
			</div>
		</form>
	</div>
</section>