<section class="">
	<br>
	<br>
	<h2 style="text-align: center">Đăng kí tài khoản</h2>
	<div class="">
		<div class="container col-lg-offset-2 col-md-offset-3 col-sm-offset-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<form name="signUpForm" class="form-horizontal" role="form">
				<div class="form-group">
					<label class="control-label col-sm-3" for="firstName">Tên:</label>
					<div class="col-sm-9">
						<input type="text" name="firstName" class="form-control" ng-model="vm.credentials.firstName" id="firstName" placeholder="Nhập tên"
							required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3" for="lastName">Họ:</label>
					<div class="col-sm-9">
						<input type="text" name="lastName" class="form-control" ng-model="vm.credentials.lastName" id="lastName" placeholder="Nhập họ"
							required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3" for="email">Email:</label>
					<div class="col-sm-9">
						<input type="email" name="email" class="form-control" ng-model="vm.credentials.email" id="email" placeholder="Nhập email"
							required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3" for="username">Tên đăng nhập:</label>
					<div class="col-sm-9">
						<input type="text" name="username" class="form-control" ng-model="vm.credentials.username" id="username" placeholder="Nhập tên đăng nhập"
							required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3" for="password">Mật khẩu:</label>
					<div class="col-sm-9">
						<input type="password" name="password" class="form-control" ng-model="vm.credentials.password" id="password" placeholder="Nhập mật khẩu"
							required>
					</div>
				</div>
				<div class="form-group ">
					<div class="text-center">
						<button type="submit" class="btn btn-primary" ng-disabled="signUpForm.$invalid" ng-click="vm.signup(form.$valid);">Đăng kí</button>
						<a ui-sref="index.signin">Đăng nhập</a>
					</div>
				</div>
				<div class="alert">
					{{vm.alert}}
				</div>
			</form>
		</div>
	</div>
</section>