<style>
	.middle {
		display: table-cell;
		vertical-align: middle;
	}
</style>
<section>
	<h1 class="title-lv1">Thông tin cá nhân</h1>
	<button style="margin-left:15px" class="btn btn-primary" ng-show="!vm.isMe" ng-click="vm.doFollow()">{{vm.isFollow?'Unfollow':'Follow this user'}}</button>
	<hr>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 "><img alt="" class="img-responsive text-center" ng-src="//localhost:3000{{vm.userInfo.profileImageURL}}" style="height: 200px;width:200px; border-radius: 5%;
    border: 5px solid #337ab7;" /><br>
			<button class="col-md-offset-2 btn btn-primary" ui-sref="index.settings.picture" ng-show="vm.isMe">Change Avatar</button></div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 middle">
			<h4>Thông tin</h4>
			<div>
				<div>
					<label>Tên: </label><span> {{vm.userInfo.firstName}} </span>
				</div>
				<div>
					<label>Họ </label><span> {{vm.userInfo.lastName}}</span></div>
				<div ng-show="vm.isMe">
					<label>Email: </label><span> {{vm.userInfo.email}}</span></div>
				<div ng-show="vm.isMe">
					<label>Ngày tạo: </label><span> {{vm.userInfo.creationDate | date:'short'}}</span></div>
				<button class="btn btn-primary glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit user profile" ui-sref="index.settings.profile"
					ng-show="vm.isMe"></button>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<h4>Danh sách vườn rau:</h4>
			<ul class="list-group" ng-repeat="event in vm.events">
				<a href="#events/{{event._id}}">
					<li class="list-group-item" style="display: inline-block" class="row">
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
							<img alt="" class="img-responsive text-center" ng-src="{{event.imgUrl}}" style="height: 100px;width:100px; border-radius: 50%;
    border: 2px solid #337ab7;" />
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<strong>{{event.name}}</strong>
						</div>
					</li>
				</a>

			</ul>
		</div>
	</div>

	<div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-12 col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
		<hr>
		<slider images="vm.images"></slider>
	</div>
</section>