.override {
    border: 1px solid #777777 !important;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    /*border: 1px solid #ddd;*/
    font-weight: 500 !important;
    font-family: 'Open Sans', sans-serif;
    size: 14px;
}

.action-for-row:hover {
    cursor: pointer;
    background-color: #ecf8fb !important;
}

.colorAction {
    background: #f9f9f9!important;
    cursor: auto;
}

button.btn-action {
    margin-right: 3px !important;
}

button.btn {
    margin: 3px;
}

th {
    vertical-align: middle !important;
    word-wrap: break-word !important;
}

td {
    word-break: break-all !important
}