.anchor {
    position: fixed !important;
    z-index: 99999;
    left: 0;
    top: 40%;
    opacity: 0.5;

}

.anchor:hover {
    opacity: 1 !important;
}

.anchor span {
    font-size: 16px;
}

.anchor span:focus {
    background: lightgray !important;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.anchor span.badge:hover {
    font-size: 16px;
    background: white !important;
    color: #009900 !important;
    padding: 7px 70px !important;
    margin-bottom: 1px;
    cursor: pointer;
}

@media (max-width: 500px) {
    .anchor {
        display: none !important;
    }
}